


<footer>
    <div class="foot">
      <div class="socials">
        <p > Conncet on Socials</p>
          <div class="icons">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="copy">
            <p> © 2024 blogX. All rights reserved.</p>
          </div>
      </div>
    </div>


 </footer>
