<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    
    <title>blog-web</title>
</head>
<body>
   <div class="navbar">
     <div class="nav">
      <p> <i class="fa-solid fa-blog"></i> BlogX  <span> Discover Insights With BlogX</span> </p>
      <button class="button border" type="button">Home</button>
      <button class="button border" type="button"> Contact Us</button>
      <button class=" button border" action="/view" type="button"> view your blogs  <i class="fa-solid fa-eye"></i></button>
     </div>
   </div>
</body>
</html>