

<%- include("partials/header.ejs") %>


<div class="form-container">
    <form action="/Submit" method="post" class="form-info">
      <input type="text" class="hed-btn" placeholder="write your Heading here" name="heading" required>
      <textarea class="input-button" placeholder="write your blogg here " name="write" required></textarea>
      <button class="btn" type="submit" > Submit <i class="fa-solid fa-arrow-right"></i></button>
      <!-- <input class="btn" value="Submit" type="submit" >  -->
      <!-- <input type="button"submit class="btn" value="./Submit">submit   i class="f<a-solid fa-arrow-right">> -->
    </form>
 </div>


 <%- include("partials/footer.ejs") %>



